@font-face {
    font-family: 'ArielsDoodles-Selima';
    src: url(../webfonts/selima.woff2) format('woff2'), url(../webfonts/selima.tff) format("truetype")
}

.doodles-font {
    font-family: 'ArielsDoodles-Selima';
    font-weight: 300;
    color: #000000d1;

}

