@font-face {
    font-family: 'providence_sansregular';
    src: url('../webfonts/providence_sans_regular-webfont.woff2') format('woff2'),
         url('../webfonts/providence_sans_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.doodles-font {
    font-family: 'providence_sansregular';
    font-weight: 300;
    color: #000000d1;

}

.doodles-bold {
    font-weight: 500;
}

.logo-title img {
    float:left;
    width: 150px;
    height: 150px;
}

.logo-title h1 {
    position: relative;
    top: 18px;
    left: 10px;
}

.logo-image {
    width: 100%;
    height: 100%;
}

.modal .title.doodles-font {
    color: #fff;
    font-size: 1.25rem;
}

.gallery article {
   margin-left: .1rem; 
}
.inner > img {
    background-color: #969696;
}

#contact {
    margin-top: 1rem;
}
#contact img {
    position: inherit;
}

#dndCats .gallery article:nth-of-type(even), #dndCats .inner > img[index='even'] {
    background-color: rgb(172, 187, 236);
}
