{{ define "main" }}
<section class="aling-center">
    <div class="inner">
        <h1 class="titlebar doodles-font">Portfolio</h1>
    </div>
</section>
{{ $portfolioData := slice }}
{{ range $key, $value := site.Data }}
{{ if hasPrefix $key "portfolio-" }}
{{ $portfolioData = $portfolioData | append $value }}
{{end}}
{{end}}
{{ $sortedPortfolioData := sort $portfolioData "weight" }}
{{ range $item := $sortedPortfolioData }}
{{ partial "portfolio" $item }} {{/* Pass the entire data file's content to the partial */}}
{{ end }}
{{ end }}