<!-- Banner -->
<section id="home" class="banner {{ .style }}">
  <!--div class="content">
    {{ with .title }}
    <div class="logo-title">
      <h1 class="title doodles-font">{{ .text }}</h1>
    </div>
    {{ end }} {{ with .subtitle }}
    <p class="major">{{ . | safeHTML }}</p>
    {{ end }} {{ with .content }}
    <p>{{ . | safeHTML }}</p>
    {{ end }} {{ with .button }}
    <ul class="actions stacked">
      <li>
        <a href="{{ .link }}" class="button {{.style}} primary large wide smooth-scroll-middle">{{ .label }}</a>
      </li>
    </ul>
    {{ end }}
  </div!-->

  {{with .landingBanner}}
  {{ $image := resources.Get . }}
  <a href="{{ $.link }}">
    <img class="kickstarter-banner" src="{{$image.RelPermalink}}" alt="Calendar Banner" />
  </a>
  {{else}}
  {{/* Only show background image if landingBanner is not set */}}
  {{ with .image }}
  {{ $image := resources.Get . }}
  {{ $imageWebp := $image.Resize (printf "%dx webp q90" $image.Width) }}
  <div class="image">
    <picture>
      {{/* WebP source */}}
      <source srcset="{{ $imageWebp.RelPermalink }}" type="image/webp">
      {{/* Fallback image (original format) */}}
      <img src="{{ $image.RelPermalink }}" alt="Ariel's Doodles banner" loading="lazy" />
    </picture>
  </div>
  {{ end }}
  {{ end }}
</section>