<!-- Banner -->
<section id="home" class="banner {{ .style }}">
  <div class="content">
    {{ with .title }}
    <div class="logo-title">
      <h1 class="title doodles-font">{{ .text }}</h1>
    </div>
    {{ end }} {{ with .subtitle }}
    <p class="major">{{ . | safeHTML }}</p>
    {{ end }} {{ with .content }}
    <p>{{ . | safeHTML }}</p>
    {{ end }} {{ with .button }}
    <ul class="actions stacked">
      <li>
        <a href="{{ .link }}" class="button {{.style}} primary large wide smooth-scroll-middle">{{ .label }}</a>
      </li>
    </ul>
    {{ end }}
  </div>
  {{ with .image }}
  <div class="image">
    <img src="{{.}}" alt="Ariel's Doodles banner" />
  </div>
  {{end}}
</section>