<!-- Banner -->
<section id="home" class="banner {{ .style }} {{ with .customClass }}{{ . }}{{ end }}">
  <!--div class="content">
    {{ with .title }}
    <div class="logo-title">
      <h1 class="title doodles-font">{{ .text }}</h1>
    </div>
    {{ end }} {{ with .subtitle }}
    <p class="major">{{ . | safeHTML }}</p>
    {{ end }} {{ with .content }}
    <p>{{ . | safeHTML }}</p>
    {{ end }} {{ with .button }}
    <ul class="actions stacked">
      <li>
        <a href="{{ .link }}" class="button {{.style}} primary large wide smooth-scroll-middle">{{ .label }}</a>
      </li>
    </ul>
    {{ end }}
  </div!-->

  {{with .landingBanner}}
  <a href="{{ $.link }}">
    {{ partial "webpImage.html" (dict
      "image" .
      "alt" "2026 Cat Calendar Banner"
      "class" "kickstarter-banner"
      "quality" 90
    ) }}
  </a>
  {{else}}
  {{/* Only show background image if landingBanner is not set */}}
  {{ with .image }}
  <div class="image">
    {{ partial "webpImage.html" (dict
      "image" .
      "alt" "Ariel's Doodles banner"
      "quality" 90
    ) }}
  </div>
  {{ end }}
  {{ end }}
</section>