<!-- Gallery -->
<section class="wrapper style1 align-center" {{ with .id }} id="{{ . }}" {{ end }}>
    <div class="inner">
        {{ with .title }}
        <h2 class="{{.style}} title">{{ .text }}</h2>
        {{end}}
        <p>{{ .content | safeHTML }}</p>
    </div>


    <!-- Gallery -->
    <div id="gallery-{{.id}}" class="gallery {{ .style }}">
        {{ range $i, $picture := .pictures }}
        {{$index := dict "index" $i}}
        {{$picture := merge $picture $index}}
        {{ partial "picture" $picture}}
        {{ end }}
    </div>
</section>