<!-- Spotlight -->
<style>
    .titlebar+section.style2 {
        margin-top: 1rem;
        box-shadow: none !important;
        -webkit-align-items: inherit;
        align-items: inherit;
    }

    #commissions .image {
        width: 23rem;
        height: 23rem;
        margin-top: 1rem;
    }


    #contact img {
        position: inherit;
    }

    #commissions .image>img {

        border-radius: 0;
    }

    .actual-content {
        margin-left: 2vh;
        margin-right: 2vh;
    }

    .actual-content p {
        text-align: left;
    }

    .carousel-slider {
        display: flex;
        position: relative;
        transition: transform 0.3s ease;
    }

    /* Ensure slideshow isn't constrained by spotlight.style2 .image rules */
    section.spotlight .slideshow-container {
        width: 100% !important;
        height: auto !important;
        max-width: 800px;
        border-radius: 0 !important;
        margin: 0 auto;
    }

    @media screen and (orientation:portrait) {
        #contact .image {
            top: 0rem;

        }

        .titlebar+section.style2 {
            align-items: center;
        }

        #commissions {
            -webkit-align-items: center;
            align-items: center;
        }
    }
</style>
{{ with .titleEntry }}
    <h1 class="{{.style}} titlebar">{{ .text }}</h2>
{{end}}
    <section class="spotlight {{ .style }}" {{ with .id }} id="{{ . }}" {{ end }}>
        <div class="content">
            {{ with .content }}
            <div class="actual-content">{{ . | safeHTML }}</div>
            {{ end }}
            {{ $formContent := dict "id" .id}}
            {{$formContent = merge $formContent .}}
            {{if .showForm}}
            {{partial "contactForm" $formContent}}
            {{end}}
        </div>
        {{ with .image }}
        {{ $imageObj := dict "image" . }}
        {{ partial "picture" $imageObj }}
        {{ end }}
        {{if .pictures}}
        {{partial "slideshow" .pictures}}
        {{end}}
    </section>