<style>
    #gokitty ul,
    #gokitty ol {
        text-align: left;
        margin: 0 0 1rem;
    }

    #gokitty ol li {
        list-style-type: decimal;
        margin: 0px;
    }

    #gokitty ul>li,
    #gokitty ul li>ul>li>ul>li {
        list-style-type: disc;
        margin: 0px;
    }

    #gokitty ul li>ul>li {
        list-style-type: circle;
        margin: 0px;
    }

    img[alt^='suit'] {
        width: 1em;
        height: 1em;
        vertical-align: middle;
        margin-bottom: .1em;
        /* Fine-tune position */

    }
</style>
<section class="spotlight {{ .style }}" {{ with .id }} id="{{ . }}" {{ end }}>
    <div>
        {{ with .content }}<div class="actual-content">{{ . | safeHTML }}{{ end }}</div>
    </div>
    {{with .image}}
    <div class="image">
        <img src="{{ . }}" alt="" />
    </div>
    {{end}}
    {{if .pictures}}
    {{partial "carousel" .pictures}}
    {{end}}
</section>