{{ $imagePath := .image }}
{{ $thumbPath := .thumb | default .image }}
{{ $title := .title | default "Untitled" }}

{{ $image := resources.Get $imagePath }}
{{ $thumb := resources.Get $thumbPath }}

{{ $isCarousel := .isCarousel | default false }}

{{ if and $image $thumb }}
{{ $imageWebp := $image.Resize (printf "%dx webp q85" $image.Width) }}
{{if $isCarousel}}
<img class="carousel-slide" src="{{ $imageWebp.RelPermalink }}" alt="Image">
{{else}}
<article>
    <a index="{{ .index }}" href="{{ $imageWebp.RelPermalink }}" class="image">
        {{ partial "webpImage.html" (dict
            "image" $thumbPath
            "alt" .title
            "quality" 85
        ) }}
    </a>
    <div class="caption doodles-font">
        <h3>{{ .title }}</h3>
        {{ with .content }}
        <p>{{ . }}</p>
        {{ end }}
        {{ with .button }}
        <ul class="actions fixed">
            <li><span class="button small">{{ . }}</span></li>
        </ul>
        {{ end }}
    </div>
</article>
{{end}}
{{ else }}
<p>Image not found: {{ $imagePath }}</p>
{{ end }}